@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 1000vh;
}

*{
    font-family: 'Inter';
}



header{
    border-bottom: solid lightgray 1.5px ;
    
}

ul{
    display: flex;
    padding-left: 10px;
}

.mobile-visibility{
    display: none;
}

.material-symbols-outlined{
    float: right;
}

#logo{
    margin-right: 80%;
    padding-left: -40px;
    border: solid;
}

#section1>h1{

    font-size: 48px;
    line-height: 60px;
    margin-left: 15px;
}

#section1>p{
    font-size: 18px;
    color: #525252;
    line-height: 30px;
    margin-left: 15px;
}
 
.rental-phone-img{

    width: 360px;
    height: auto;
    margin-top: 40px;
    margin-left: 10px;
}

.email-address{
    width: 230px;
    height: 42px;
    margin-left: 3%;
    border-radius: 3px;
    border: solid #525252 1px;
    padding-left: 5px;
    
}

.start-trading-btn{
    color: white;
    background-color: #244FDB;
    font-size: 14px;
    height: 44px;
    border-radius: 3px;
    width: 110px;
    border: solid #244FDB 1px;
}

#section3>h1{
    font-size: 32px;
    line-height: 48px;
    margin-left: 15px;
    
}

#section3>p{
    font-size: 18px;
    color: #525252;
    line-height: 32px;
    margin-left: 15px;
    
}

#section4{
    

}

.option-box-main{
    width: 93%;
    background-color: whitesmoke;
    margin-left: 15px;
    height: 194px;
    display: block;
    border-radius: 8px;
    
    
}

.option-box-main>h2{
    font-size: 18px;
    font-weight: 600px;
    padding-left: 15px;
    line-height: 32px;
    margin-top: 26px;
    

}

.option-box-main>p{
    color: #525252;
    font-size: 16px;
    padding-left: 15px;
    line-height: 24px;
    
    
}



.option-box-main>img{
    margin-left: 15px;
    background-color: #244FDB;
    margin-top: 15px;
    border: solid #244FDB 1px;
    padding: 5px;
    border-radius: 6px;
    
    

}

.option-box{
    width: 93%;
    background-color: whitesmoke;
    margin-left: 15px;
    height: 194px;
    display: block;
    border-radius: 8px;
    margin-top: 36px;
}


.option-box>h2{
    font-size: 18px;
    font-weight: 600px;
    padding-left: 15px;
    line-height: 32px;
    margin-top: 26px;
    
}

.option-box>p{
    color: #525252;
    font-size: 16px;
    padding-left: 15px;
    line-height: 24px;  
    
}



.option-box>img{
    margin-left: 15px;
    background-color: #244FDB;
    margin-top: 15px;
    border: solid #244FDB 1px;
    padding: 5px;
    border-radius: 6px;

}





@media only screen and (min-width: 767px) {


}